{% extends 'base.html.twig' %}


{% block title %}Hello AnnounceController!{% endblock %}

{% block body %}
<div class="container">

<div class="row-md-center">
  <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="row">
  <div class="col-lg-2">
    test
  </div>
  <div class="col-lg-10">


    {% for article in articles %}
    <section class="my-5">
        <!-- Section heading -->

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-lg-5">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img class="img-fluid" src="{{ asset('uploads/img/' ~ article.image) }}" alt="Sample image">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">



            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{ article.title }}</strong></h3> <hr>
            <!-- Excerpt -->
    
            <h4 class="text-primary mb-4">{{ article.price }}$</h4>
            <!-- Category -->
            <h6 class="mb-3">{{ article.category.title }}</h6>
            
            <!-- Post data -->
            <p>{{ article.createdAt |date("m/d/Y", "Europe/Paris") }}</p>
            <!-- Read more button -->
            <a href="{{ path('show_announce', {'id': article.id}) }}"class="btn btn-outline-success text-success float-right">Voir davantage</a>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </section>
    {% endfor %}
  </div>  
</div>
{% endblock %}
